<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.dbSIAConexion"
            connectionString="Data Source=192.168.0.2;Initial Catalog=dbSIA;Persist Security Info=True;User ID=sa;Password=Admin123"
            providerName="System.Data.SqlClient" />
      
        <add name="WindowsFormsApp2.Properties.Settings.dbCreditoConexion"
            connectionString="Data Source=192.168.0.2;Initial Catalog=dbCredito;Persist Security Info=True;User ID=sa;Password=Admin123"
            providerName="System.Data.SqlClient" />

      <add name="WindowsFormsApp2.Properties.Settings.dbSIAConexionATQ"
            connectionString="Data Source=192.168.1.2;Initial Catalog=dbSIA;Persist Security Info=True;User ID=sa;Password=Admin123"
            providerName="System.Data.SqlClient" />

      <add name="WindowsFormsApp2.Properties.Settings.dbSIAConexionIXT"
            connectionString="Data Source=192.168.2.2;Initial Catalog=dbSIA;Persist Security Info=True;User ID=sa;Password=Admin123"
            providerName="System.Data.SqlClient" />

      <add name="WindowsFormsApp2.Properties.Settings.dbSIAConexionTLA"
            connectionString="Data Source=192.168.3.2;Initial Catalog=dbSIA;Persist Security Info=True;User ID=sa;Password=Admin123"
            providerName="System.Data.SqlClient" />
      
      <add name="CasaGuerrero.Properties.Settings.recargasConnectionLocal"
            connectionString="Data Source=192.168.0.2;Initial Catalog=dbSIA;Persist Security Info=True;User ID=sa;Password=Admin123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              
              <!--  <binding name="soapHttpEndpoint" /> -->
                <binding name="soapHttpEndpointHttps">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <!--
            <endpoint address="http://www.fel.mx/WSTimbrado33/WSCFDI33.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint"
                contract="ServiceReferenceFac.IWSCFDI33" name="soapHttpEndpoint" /> 
          -->
            <endpoint address="https://www.fel.mx/WSTimbrado33/WSCFDI33.svc"
                binding="basicHttpBinding" bindingConfiguration="soapHttpEndpointHttps"
                contract="ServiceReferenceFac.IWSCFDI33" name="soapHttpEndpointHttps" /> 
           
          <!--<endpoint address="https://app.fel.mx/WSTimbrado33Test/WSCFDI33.svc?WSDL"
          binding="basicHttpBinding" bindingConfiguration="soapHttpEndpointHttps"
          contract="ServiceReferenceFac.IWSCFDI33" name="soapHttpEndpointHttps" /> -->
          
        </client>
    </system.serviceModel>
</configuration>